*{
    margin: 0;
    padding: 0;
} 

body{
    background-color: black;
    background-image: url("gym-img.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    color: white;
}

nav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 40px; 
    padding-left: 60%;
    margin-right: 90px; 
}


nav h1{
    font-size: 30px;
    margin-right: 50px
}
ul button{
    width: 100px;
    height: 36px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}
h1{
    margin-left: 1;
}
h1 span{
    color: brown;
    text-wrap: wrap;
    text-shadow: 0 0 30px rgb(134, 190, 218);
  
}
 ul{
    display: flex;
    list-style: none;
}
ul li a{
   margin-inline: 30px; 
   padding: 2px;
    font-size: 20px;
    text-wrap: wrap;
   text-decoration: none;
   /* color: red; */
}

ul li a:hover{
    border-bottom: 3px solid rgb(218, 209, 26);
    border-radius: 3px;
    margin-top: 2px;
    cursor:pointer;
}
.text{
  margin-left: 5%;  
  margin-top: 120px;
}
.text h1{
    font-size: 70px;
}
.text p{
    font-size: 20px;
    margin-top: 60px;
    color: rgb(243, 86, 13);
}
.text button{
    width: 170px;
    height: 44px;
    background-color: red;
    color: white;
    border: none;
    margin-top: 50px;
    font-size: 20px;
    box-shadow: 0 0 20px rgb(48, 198, 203);
     
}

.text button:hover{
    border: 3px solid whitesmoke;
    background-color: red;
    cursor: pointer;
}
 